/* ID */
#header-navbar {
    position: relative;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: auto;
}
#header-list {
    display: inline;
    font-size:14px;
}
#google-logo {
    padding:5px;
    display:inline-block;

}
#search-bar{
    margin: 5px auto 5px auto;
    width: 400px;
    border:1px solid grey;
    border-radius:30px;
}
#search-input{
    display:inline;
    padding: 10px;
    border:0px;
    font-size: 18px;
}
#google-search{
    margin-right:5px;
}
/* #im-feeling-lucky{

} */
#travel-link{
    font-size:13px;
}
#footer-country {
    overflow:auto;

    border-top: 1px solid #e4e4e4;
    background-color: #f2f2f2;

    padding-top:15px;
    padding-bottom:15px;
}
#footer-navbar {
    overflow:auto;

    border-top: 1px solid #e4e4e4;
    background-color: #f2f2f2;

    padding-top:15px;
    padding-bottom:15px;
}
#footer-list {
    display:inline;
    font-size:14px;
}


/* Class */
.left-element {
    float: left;
    margin-left:15px;
}
.right-element {
    float: right;
    margin-right:15px;
}
.content{
    margin-top:200px;
    text-align: center;
}
.buttons{
    display:inline-block;
    margin:30px
}
.footer-text {
    margin-left:15px;
    font-size:14px;
    color:grey;
}


/* Tags */
li {
    font-family: Arial, sans-serif;
}
p {
    font-family: Arial, sans-serif;
}
header {
    position: relative;
}
footer {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a.header-link:link{
    color: #737373;
}
a.footer-link:link{
    color: #4e4e4e;
}
